@model RacePuntos.Datos.puntos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>puntos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_usuario_plataforma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_usuario_plataforma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puntos_acumulados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puntos_acumulados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.tipo_documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.tipo_documento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_puntos_actuales }) |
    @Html.ActionLink("Back to List", "Index")
</p>
